.otherCities {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 0 48px;
}

.header {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 2px;
}