.forecast {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
}

.daily {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 2px;
}